# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
.venv/
.env

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

## CDCM specific ignores
# Simulation data &  other junk files
*.h5
/**/.ipynb_checkpoints/
/**/.doctrees/
# Pyvis data
/**/lib/
*.html
*.png
*.code-workspace
*.gif

# Drawio diagrams
*.drawio.dtmp
*.drawio.bkp
.vscode/
*.egg-info/
*.txt
!requirements.txt

